*{
    margin: 0px;
    padding: 0px;
}

#upper-mid{
    background-color: #FFFFFF;
    height: 500px;
    
}

#lower-mid{
    background-color: #E5E7EB;
    height: 500px;
}

#back1{
    background-color: #FFFFFF;
    height: 500px;
}

footer{
    background-color: #1F2937;
    height: 100px;
}

#header_contianer{
    background-color: #1F2937;
    height: 500px;
}
#header_element_container{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    justify-content: space-around;
    margin-left: 15em;   
}
#nav_container{
    font-weight: 100;
    width: 600px;
    margin-left: 350px;
    display: flex;
    align-items: center;
}
.nav{
    display: inline;
    font-family: roboto;
    font-weight:lighter;
    color: #F8F8F8;
    cursor: pointer;
    margin-left: 15px;
}
#logo_container{
    cursor: pointer;
    font-family: roboto;
    color: #F8F8F8;
    font-size: 26px;
    padding-top: 0px;
}

#awsome-website{
    display: inline-block;
    margin-top: 74px;
    margin-left: 20%;
    font-family: roboto;
    color: #F8F8F8;
    font-weight: 900;
    font-size: 48px;
    
}
#awsome-smaller{
    font-family: roboto;
    font-weight: 100;
    font-size: 18px;
    margin-left: 20%;
    color: #C6C9CE;
}
#sign-up{
    margin-top: 6px;
    margin-left:20%;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    border: none;
    color: #F3F7FE;

    display: inline-block;
    font-size:17px;
    background: none;
    background-color:#3B82F6;
    cursor: pointer;
}
#place-holder-image{
    color:#FFFFFF;
    font-family:roboto ;
    text-align: center;
    margin-top: -200px;
    width: 600px;
    position: absolute;
    display: inline-block;
    margin-left: 25%;
    
    height: 270px;
    background-color: #6D747D;

}
#place-holder-text{
    padding-top: 20%;
    padding-left: 5px;
}
