*{
    margin: 0px;
    padding: 0px;
}

#upper-mid{
    background-color: #FFFFFF;
    height: 500px;
    
}

#lower-mid{
    display: flex;
    justify-content: center;
    margin-top: 18em;
    background-color: #E5E7EB;
    height: 500px;
}

#back1{
    background-color: #FFFFFF;
    height: 500px;
}

footer{
    background-color: #1F2937;
    height: 100px;
}

#info_container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    
}
#info_title_container{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    width: 550px;
}
#img_container{
    color:#FFFFFF;
    font-family:roboto ;
    text-align: center;
    width: 500px;

    margin-left:6em;
    height: 270px;
    background-color: #6D747D;
}
#header_contianer{
    background-color: #1F2937;
    height: 50px;
    display: flex;
    
    justify-content: center;
    justify-content: space-evenly;
}
#header_element_container{
    margin-left: 15em;
    padding-top: 5px;
    
       
}
#nav_container{
    margin-top: -1em;
    font-weight: 100;
    gap:0.5em;
    width: 600px;
    margin-left: 560px;
    display: flex;
    align-items: center;
}
#sec{
    margin-top: -5em;
    background-color: #1F2937;
    height: 500px;
}
.nav{
    display: inline;
    font-family: roboto;
    font-weight:lighter;
    color: #F8F8F8;
    cursor: pointer;
    margin-left: 15px;
}
#logo_container{
    cursor: pointer;
    font-family: roboto;
    color: #F8F8F8;
    font-size: 26px;
    display: inline;
}

#awsome-website{
    display: inline-block;
    margin-top: 74px;
    margin-left: -20%;
    font-family: roboto;
    color: #F8F8F8;
    font-weight: 900;
    font-size: 48px;
    
}
#awsome-smaller{
    font-family: roboto;
    font-weight: 100;
    font-size: 18px;
    
    color: #C6C9CE;
}
#sign-up{
    margin-top: 6px;
    margin-left:-17em;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    border: none;
    color: #F3F7FE;

    display: inline-block;
    font-size:17px;
    background: none;
    background-color:#3B82F6;
    cursor: pointer;
}

#place-holder-text{
    padding-top: 20%;
    padding-left: 5px;
}
